%h3 Users
%table.users
	%tr
		%th Name
		%th Signed up
		%th Friend status
	- (@users - [current_user]).each do |user|
		%tr
			%td= link_to user.name, user
			%td= l (user.created_at || "")
			%td
				= render "friend_status", user: user
