%h1 Editing item

= render 'form'

= link_to 'Show this item', reckoning_item_path(reckoning, item)
\|
= link_to "Destroy", reckoning_item_path(reckoning, item), :method => :delete, :data => { :confirm => "Are you sure?" }
\|
= link_to 'Back', reckoning_items_path(reckoning)
