%h1= t("text.reckonings.edit")

= render "form"

= link_to t("text.nav.remove"), reckoning, method: :delete, data: { confirm: t("hints.you_sure") }, class: "btn--destroy"
= link_to t("text.nav.back"), reckoning, class: "btn--back"
