%h1 Editing reckoning

= render "form"

= link_to "Remove", reckoning, :method => :delete, :data => { :confirm => "Are you sure?" }, class: "btn--destroy"
= link_to "Back", reckoning, class: "btn--back"
