body {
  background: #f5f5f5;
  .content-container {
    border-radius: 10px;
    border: 1px solid #dddddd;
    background: #fff;
    padding: 10px;
  }
}

.sign-in, .sign-up, .edit-user {
  width: 210px;
  margin: 0 auto;
  margin-bottom: 10px
}

[class*="span"]{
  box-sizing: border-box;
}

.checkbox-container {
  @extend .span3;
  @extend .clearfix;
  .control-label {
    float: left;
    margin-left: 30px
  }
}

.datetime {
  max-width: 100px;
  display: inline;
}

/*
 * buttons
 */
.btn--create, .btn--edit, .btn--destroy, .btn--back, .btn--info {
  @extend .btn;
}

.btn--create {
  @extend .btn-success;
}

.btn--edit {
  @extend .btn-primary;
}

.btn--destroy {
  @extend .btn-danger;
}

.btn--back {
  @extend .btn-inverse;
}

.btn--info {
  @extend .btn-info;
}

table {
  @extend .table;
  @extend .table-striped;
}
